@mixin justify-center {
    justify-content: center;
}
@mixin align-center {
    align-items: center;
}
@mixin total-center {
    justify-content: center;
    align-items: center;
}
@mixin flex-justify-center {
    display: flex;
    justify-content: center;
}
@mixin flex-align-center {
    display: flex;
    align-items: center;
}
@mixin flex-total-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}