.footer {
    background-color: $dark;
    h5,li,p,a,q {
        color: $white;
    }
    li,p,a {
        font-weight: 300;
    }
    a:hover {
        text-decoration: underline;
    }
    &-container {
        max-width: 1400px;
        @include flex-column;
        margin: 0 auto;
    }
    &-hero {
        padding: 0.5em;
        width: 100%;
        margin: 0 auto;
        @include flex-row;
        justify-content: space-between;
        div {
            @include flex-row;
            gap: 50px;
            li {
                padding:0.5em 0;
                span {
                    color: $primary
                }
            }
        }
    }
    &-rights {
        @include flex-column;
        .border {
            border-bottom:1px solid $white;
            width: 100%;
            margin: 0 auto;
        }
        .copyrights{
            padding: 1em 0;
            @include flex-row;
            justify-content:space-between;
        }
    }
}